.container {
  max-width: 1080px;
  margin: 20px auto
}

.sunny {
  background-color: #ffd700; /* You can adjust the color code to your preference */

  /* Add a background image for a sunny effect (you can replace 'sunny-background.jpg' with your own image) */
  background-image: url('/Users/camerond/personal-projects/react-weather-app/public/photos/sunnyphoto.jpeg');
  background-size: cover; /* Ensure the background image covers the entire container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-attachment: fixed; /* Fixed background for a parallax effect */

  /* Add some padding and margin for spacing */
  padding: 20px;
  margin: 20px;

  /* Add a border for visual separation (optional) */
  border: 1px solid #ccc;

  /* Set text color to contrast with the background */
  color: #333; /* You can adjust the text color as needed */
}

.cloudy {
  background-color: #ffd700; /* You can adjust the color code to your preference */

  /* Add a background image for a sunny effect (you can replace 'sunny-background.jpg' with your own image) */
  /* background-image: url('sunny-background.jpg'); */
  background-size: cover; /* Ensure the background image covers the entire container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-attachment: fixed; /* Fixed background for a parallax effect */

  /* Add some padding and margin for spacing */
  padding: 20px;
  margin: 20px;

  /* Add a border for visual separation (optional) */
  border: 1px solid #ccc;

  /* Set text color to contrast with the background */
  color: #333; /* You can adjust the text color as needed */
}

