.container {
  max-width: 1080px;
  margin: 20px auto
}

.sunny {
  

  /* Add a background image for a sunny effect (you can replace 'sunny-background.jpg' with your own image) */
  background-image: url('/Users/camerond/personal-projects/react-weather-app/public/photos/sunnyphoto.jpeg');
  background-size: cover; /* Ensure the background image covers the entire container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-attachment: fixed; /* Fixed background for a parallax effect */

  /* Add some padding and margin for spacing */
  padding: 20px;
  margin: 20px;
}

.cloudy {

  /* Add a background image for a sunny effect (you can replace 'sunny-background.jpg' with your own image) */
  background-image: url('/Users/camerond/personal-projects/react-weather-app/public/photos/stormybackground.avif');
  background-size: cover; /* Ensure the background image covers the entire container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-attachment: fixed; /* Fixed background for a parallax effect */

  /* Add some padding and margin for spacing */
  padding: 20px;
  margin: 20px;
}

